@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

.list li:first-child{
    color: red;
}

.list li:last-child{
    color: rgba(12, 255, 235, 0.63);
}



p:nth-child(1)
{
    /* color: red;/ */
}
p:nth-child(2)
/* {
    color: rgb(84, 94, 45); */
}

p:nth-child(2n){
    /* background-color: hotpink; */

}

p:nth-child(2n+1){
    background-color: rgb(40, 158, 40);
}

p:nth-last-child(2){
    /* background-color: rgb(44, 146, 112); */
}